body {
  margin: 0;
  padding: 5% 10%;
}

body,
input,
button,
input::placeholder,
thead td {
  color: #444;
  font-family: sans-serif;
  font-size: 1rem;
}

input,
button,
td {
  border: 3px solid #ccc;
  outline: none;
}

input {
  display: block;
  box-sizing: border-box;
}

input,
td {
  padding: 0.5rem;
}

button {
  width: 30%;
  margin: 2.5%;
  padding: 0.5rem 0rem;
}

.controls {
  text-align: center;
  margin-bottom: 2rem;
}

table,
h1,
input {
  border-collapse: collapse;
  width: 100%;
}

tbody tr td:last-of-type,
tfoot td:last-of-type {
  text-align: right;
}

tbody tr td:last-of-type::after,
tfoot td:last-of-type::after {
  content: "$";
}

h1 {
  border-bottom: 3px solid #ccc;
  margin-bottom: 1rem;
}

td {
  width: 50%;
}

tfoot td,
thead td,
h1 {
  font-weight: bold;
  color: red;
}

tfoot td:first-of-type {
  border: none;
  text-align: right;
}

.fade {
  margin: 1rem 0;
  text-align: center;
  font-style: italic;
  color: #ccc;
}

.fade u {
  color: #444;
}
